@model JewelryBiz.DataAccess.Models.CartItem

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script>
        function AddExpressShippingCost() {

            var element = $("#expressShip")[0];
            if (element.checked) {

                $.ajax({
                    type: 'GET',
                    url: "Checkout/AddExpressShippingCost",
                    contentType: "application/json; charset=utf-8",

                    success: function () {

                        location.reload();
                        return;
                    }
                })
            }
            else {


                $.ajax({
                    type: 'GET',
                    url: "Checkout/SubtractExpressShippingCost",
                    contentType: "application/json; charset=utf-8",
                    success: function () {

                        location.reload();
                        return;
                    }
                })
            }
        }

        function UpdateTotalPrice() {
            $.ajax({
                type: 'GET',
                url: "Checkout/UpdateTotal",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    if (msg.d == "$0.00") {
                        location.reload();
                        return;
                    }

                    $('#totalPrice').text(msg.d);
                }
            })
        }

        function Change(el, type, pid) {
            var data = {
                'type': type,
                'pId': pid
            };
            $.ajax({
                type: 'POST',
                url: "Checkout/QuanityChange",
                data:"{ 'type': " + type +", 'pId': " + pid + "}",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    if (msg.d == 0) {
                        el.parentNode.parentNode.remove();
                    } else {
                        $(el).siblings('span')[0].innerHTML = msg.d
                    }
                    location.reload();
                    //UpdateTotalPrice()
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    debugger;
                }
            });
        }
</script>
}

<h2><b>Shopping Cart</b></h2>

@if (ViewBag.Cart == null )
{
    <br />
    <div id="EmptyDataMsg" class="alert alert-info">
        <strong>Your Shopping Cart is Empty!</strong>
    </div>
}
else
{
    <table class="cart-page">
        <tr style="background-color:antiquewhite">
            <td>Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total</td>
        </tr>
        @foreach (var item in ViewBag.Cart)
        {
            <tr>
                <td><span class="p-name">@item.PName</span> </td>
                <td><span class="p-name">@String.Format("{0:c}", item.UnitPrice)</span> </td>
                <td>
                    <a class="quantity" onclick="Change(this, 1, @item.ProductId)">+</a>
                    <span class="p-name">@item.Quantity</span>
                    <a class="quantity" onclick="Change(this, 0,  @item.ProductId)">-</a>
                    <a class="remove" onclick="Change(this, -1,  @item.ProductId)">Remove</a>
                </td>
                <td class="total-price">@item.Total</td>
            </tr>
        }
        @if (Session["ShippingCost"] != null)
        {
            <tr>
                <td>
                    Shipping Cost <br />

                    <input type="checkbox" id="expressShip" onchange="AddExpressShippingCost()" checked="@Session["ExpressShip"]" /> One Day Shipping

                </td>

                @if (Convert.ToInt32(Session["ShippingCost"]) > 0 && Session["ExpressShip"] != null && Session["ExpressShip"].Equals(false))
                {
                    <td>
                        $@Session["ShippingCost"]
                    </td>
                    <td class="color-green">Qualify for free standard shipping for total purchase above $125</td>
                }
                else if (Convert.ToInt32(Session["ShippingCost"]) > 0 && Session["ExpressShip"] != null && Session["ExpressShip"].Equals(true))
                {
                    <td>
                        $@Session["ShippingCost"]
                    </td>
                    <td></td>
                    @*<td class="color-green">Qualify for free shipping for total purchase above $125</td>*@
                }
                else if (@ViewBag.CartTotalPrice >= 125 && Session["ExpressShip"] != null && Session["ExpressShip"].Equals(false))
                {
                    <td>
                        $0
                    </td>

                    <td class="color-green"> You have qualified for free shipping!!</td>
                }
                else
                {
                    <td></td>
                    <td> </td>
                }


            </tr>
        }

        @if (Convert.ToInt32(Session["ShippingCost"]) > 0)
        {
            <tr style="background-color:azure;"><td style="font-weight:bolder; color:black;">Sub Total: </td><td id="totalPrice" colspan="2" class="subtotal-price">@String.Format("{0:c}", ViewBag.CartTotalPrice + Convert.ToInt32(Session["ShippingCost"]))</td></tr>}
        else
        {
            <tr style="background-color:azure;"><td style="font-weight:bolder; color:black;">Sub Total: </td><td id="totalPrice" colspan="2" class="subtotal-price">@String.Format("{0:c}", ViewBag.CartTotalPrice)</td></tr>
        }
        @*<tr style="background-color:azure;"><td style="font-weight:bolder; color:black;">Sub Total: </td><td id="totalPrice" colspan="2" class="subtotal-price">@String.Format("{0:c}", ViewBag.CartTotalPrice)</td></tr>*@
    </table>
    <div class="button">
        @Html.ActionLink("CLEAR CART", "Clear", "Checkout", null, new { @class = "btn btn-default" })
        @Html.ActionLink("PROCEED TO CHECKOUT", "Purchase","Checkout", null, new { @class = "btn btn-default" })
    </div>
}
