
@model JewelryBiz.DataLayer.Domain.SelectedItem

@{
    ViewBag.Title = "Momy bracelets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ProductName</h2>

@using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
{
    @Html.Hidden("ProductId", Model.ProductId)
    <div class="row">
        <div class="column"><img src="/Images/Products/@Model.Image" /></div>
        <div class="column">
            <span style="font-size:15px;">@Html.Raw(Model.Description)</span>
            <br />
            <span class="price">@String.Format("{0:c}", Model.UnitPrice)</span>
            <br />
            Color: @Html.DropDownListFor(m => m.Materials, Model.Materials.Where(s => s.CategoryName == "COLOR")
.Select(i => new SelectListItem
{
Text = i.MaterialDescription.ToString(),
Value = i.MaterialName.ToString()
}),
new { Class = "form-control" })
            <br />
            Size: @Html.DropDownListFor(m => m.Materials, Model.Materials.Where(s => s.CategoryName == "SIZE")
.Select(i => new SelectListItem
{
Text = i.MaterialDescription.ToString(),
Value = i.MaterialName.ToString()
}),
new { Class = "form-control" })
            <br />

            Quantity : @Html.DropDownListFor(m => m.Quantity,
Enumerable.Range(1, Model.OnHand)
.Select(i => new SelectListItem
{
Text = i.ToString(),
Value = i.ToString()
}),
new { Class = "form-control" })
            <span style="color:green"> (@Model.OnHand items available in stock)</span>
            <div>
                <input type="submit" value="ADD TO CART" class="btn btn-info" />
            </div>
        </div>
    </div>
}


