@using JewelryBiz.UI.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/control.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
    @*@{
            if (System.Web.HttpContext.Current.User != null)
            {
                ApplicationUser user = (ApplicationUser)System.Web.HttpContext.Current.User.Identity;
            }

        }*@
</head>
<body>
    <div class="navbar navbar-theme navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Reports", "Index", "Reports")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Sign out", "Logout", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (ViewBag.Cart != null)
        {
            <a class="basket">
                <span>SHOPPING BAG: </span>
                <table>
                    @foreach (var c in ViewBag.Cart)
                    {
                        <tr><td>@c.Quantity x @String.Format("{0:c}", c.UnitPrice)</td><td>@c.PName</td></tr>
                    }
                    <tr>
                        <td>Total: @String.Format("{0:c}", ViewBag.CartTotalPrice)</td>
                        <td>@Html.ActionLink("Check Out", "Index", "Checkout")</td>
                    </tr>
                </table>
            </a>
        }
        @RenderBody()
        <hr />
        <br />

        <div class="navbar navbar-theme navbar-fixed-bottom">
            <table width="100%">
                <tr>
                    <td width="100%" align="center"> <p> @Html.ActionLink("Sign Up For Emails", "EmailsSignup", "Account")</p></td>
                </tr>
            </table>
        </div>
        <script src="~/Scripts/jewelrybix.ui.js"></script>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
