
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_AdminLayour.cshtml";
}

<h2>Reports</h2>

<div style="float:left; width:20%;">
    @Html.RadioButton("Report", "Mothly") Monthly Sale
    <br /><br />
    @Html.RadioButton("Report", "Yearly")  Yearly Sale
    <br /><br />
    @Html.RadioButton("Report", "InvLevel")  Inventory Levels
    <br /><br />
    @Html.RadioButton("Report", "InvCost")  Inventory Costs
    <br /><br />
    @Html.RadioButton("Report", "Customer")  Customer Lists
    <br /><br />
    @Html.RadioButton("Report", "Mailing")  Mailing Labels
</div>
<div style="float:right; width:80%;">
    <input type="button" value="Generate" />
</div>