@{
    ViewBag.Title = "Home Page";
}
<h2>Products</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/home.js" type="text/javascript"></script>

<div>
    @*<div style="float:left; width:70%;">*@

    <select id="categories" class="form-control" name="categories" onchange="getdetails(this);"></select>
    <br />
    <div id="mother" name="mother" style="display:none;">
        How Many Strands: <select id="strands" class="form-control">
            <option value="1">
                1 Strand Bracelet
            </option>
            <option value="2">
                2 Strand Bracelet (+ $10.00)
            </option>
            <option value="3">
                3 Strand Bracelet (+ $20.00)
            </option>
            <option value="4">
                4 Strand Bracelet (+ $30.00)
            </option>
        </select>
        <br />
        Size: <select id="size" class="form-control">
            <option>Select Size</option>
            <option value="small">
                7 (Average Small)
            </option>
            <option value="medium">
                7.5 (Average Medium)
            </option>
            <option value="large">
                8 (Large)
            </option>
            <option value="xlarge">
                8.5 (Extra Large)
            </option>
        </select>
        <br />
        1st Strand Name: <input type="text" /><br />
        2nd Strand Name: <input type="text" /><br />
        3rd Strand Name: <input type="text" /><br />
        4th Strand Name: <input type="text" />
    </div>
    <br />
    <form action="/Home/Category" method="get" id="category" class="option">
        <span>Category</span>

        @*@Html.DropDownListFor(m => m.CategoryId, Model.Categories, "---Select Employee---", new { Class = "ddlStyle", onchange = "SelectedIndexChanged()" })*@
        <select id="catName" class="form-control" name="catName" onchange="$('#category').submit()">
            <option>-- Select --</option>
            <option value="">All</option>
            <option value="Washing Machines">Washing Machines</option>
            <option value="Kettles">Kettles</option>
            <option value="Microwaves">Microwaves</option>
        </select>
        @*<select id="catName" class="form-control" name="catName" onchange="$('#category').submit()">
                <!--onchange="$('#category').submit()"-->
                <option>-- Select --</option>
                <option value="">All</option>
                <option value="mother">
                    Mother's bracelets
                </option>
                <option value="baby">
                    Baby/Christening bracelets
                </option>
                <option value="grandmother">
                    Grandmother's bracelets
                </option>
                <option value="wedding">
                    Wedding bracelets
                </option>
                <option value="popular">
                    Most popular
                </option>
                <option value="earnings">
                    Earrings
                </option>
                <option value="nacklaces">
                    Necklaces
                </option>
                <option value="sets">
                    Sets
                </option>
            </select>*@


    </form>

    @*</div>*@

    @*<div style="float:right; width:30%;">*@
    <br />
    <br />
    @if (ViewBag.Products.Count == 0)
    {
        <br />
        <div id="EmptyDataMsg" class="alert alert-info">
            <strong>Welcome!</strong> currently no products available.
        </div>
    }
    else
    {
        <table width="100%" border="1">
            <tr style="background-color:darkred; font-size:medium; color:white; font-weight:bold;">
                <td>Product Name</td>
                <td>Category</td>
                <td>Description</td>
                <td>Units in Stock</td>
                <td>Unit Price</td>
                <td></td>
            </tr>
            @foreach (var item in ViewBag.Products)
            {
                if (item.UnitsInStock > 1)
                {
                    <tr style="height:60px;">
                        <td><span class="p-name">@item.PName </span></td>
                        <td><span class="p-cart">@item.Category </span></td>
                        <td><span class="p-description">@item.Description </span></td>
                        <td><span class="p-unit">@item.UnitsInStock</span></td>
                        <td><span class="p-price">@String.Format("{0:c}", item.UnitPrice)</span></td>
                        <td>
                            <div class="add-to-cart">
                                @Html.ActionLink("add to cart", "AddToCart", "Home", new { id = item.PID }, null)
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>
        @*<div class="list-view">
                @foreach (var item in ViewBag.Products)
                {
                    if (item.UnitsInStock > 1)
                    {
                        <div class="list-item">
                            <span class="p-cart">@item.Category</span>
                            <span class="p-name">@item.PName</span>
                            <span class="p-description">@item.Description</span>
                            <div class="add-to-cart">
                                @Html.ActionLink("add to cart", "AddToCart", "Home", new { id = item.PID }, null)
                                <span class="p-price">@String.Format("{0:c}", item.UnitPrice)</span>
                            </div>
                            <span class="p-unit">
                                @item.UnitsInStock
                                @if (item.UnitsInStock > 1)
                                {
                                    <text>units</text>
                                }
                                else
                                {
                                    <text>unit</text>
                                }
                            </span>
                        </div>
                    }
                }
            </div>*@
    }

</div>

@*</div>*@

